.features {
    .container-large {
        display: flex;
        flex-direction: column;
        gap: var(--section-space-t-b);

        .features-top {
            display: flex;
            flex-direction: column;
            gap: var(--button-space-r-l);

            h3 {
                color: var(--heading-color);
            }

            h5 {
                width: 100%;
                max-width: 490px;
                color: var(--nav-link-color);
            }
        }

        .features-content {
            display: flex;
            flex-direction: column;
            gap: var(--section-item-gap);

            .features-content-item {
                display: flex;
                justify-content: flex-start;
                gap: var(--button-space-r-l);
                color: var(--heading-color);
                font-weight: 500;
            }
        }
    }
}