header {
    position: relative;

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        width: 70%;
        height: 100%;
        background-color: var(--white);
        box-shadow: 0px 0.2px 10px #3e3e3e1a;
    }

    .mobile-menu.mobile-active {
        display: block;
        padding: clamp(0.938rem, 0.414rem + 1.97vw, 2.188rem) var(--button-space-r-l);

        .mobile-nav-close {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            /* padding: clamp(0.938rem, 0.414rem + 1.97vw, 2.188rem) 0; */
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--text-space-y);
            margin-bottom: var(--button-space-r-l);
        }

        .nav-extra {
            display: flex;
            align-items: center;
            gap: var(--button-space-r-l);
        }
    }

    .dropdown-container {
        display: none;
        position: absolute;
        background: var(--white);
        box-shadow: 0px 0.2px 10px #3e3e3e1a;
        padding: 10px 0;
        min-width: 200px;
        z-index: 100;
    }

    .dropdown-container.active-nav {
        display: block;
        width: 100%;
        color: var(--heading-color);
        padding: var(--section-space-card-y) 0;
        background-color: var(--white);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: var(--button-space-t-b);

            .dropdown-menu {
                display: flex;
                flex-direction: column;

                li {
                    font-weight: 500;
                    cursor: pointer;
                    transition: background ease 0.3s;
                    border-radius: var(--text-space-y);
                    padding: var(--nav-space-link);
                }

                li:hover {
                    background-color: var(--border-color);
                    transition: background ease 0.2s;
                    border-radius: var(--text-space-y);
                }
            }
        }
    }

    .nav {
        padding: clamp(0.938rem, 0.414rem + 1.97vw, 2.188rem) 0;
        border-bottom: 1px solid var(--border-color);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--nav-link-color);

            h5 {
                color: var(--heading-color);
                font-family: var(--second-font);
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--button-space-r-l);

                @media screen and (max-width: 768px) {
                    display: none;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    font-weight: 700;
                }
            }

            .nav-extra {
                display: flex;
                align-items: center;
                gap: 20px;

                a:nth-child(1) {
                    color: var(--nav-link-color);
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .burger-menu {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }

    }
}